ul{
	margin: 0;
	padding: 0;
}

li{
	display: inline-block;
	text-align: center;
}

li:first-child{
	background-color: red;
	/*Se le indica al primer elemento de lista que tenga un ancho del 100%*/
	width: 100%;
}

li:last-child{
	background-color: purple;
	width: 100%;
}

/*nth-child() espara seleccionar un numero intermedio entre el primero y el ultimo.*/
li:nth-child(2){
	background-color: peru;
}