h1, .h1
{
	/*Se utilizan las fuentes que tenga el usuario en su navegador
	si no tiene la primera que ponga la segunda.*/
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
	font-size: 24px
}

h2, .h2
{
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	font-size: 16px;
	font-size: 1rem; /* Significa root em*/
	/*Fallback es un tipo de respaldo por si no funciona. El problema son las lineas extras. primero se ejcuta el ultimo font-size */
					
}

/*Selector de id
NO IMPORTA QUE UN id SE LLAME IGUAL QUE UNA CLASE
id=DRY DONT REPEAT YOURSELF*/

/*Maquetar desde lo basico hasta lo mas complejo*/

/*Los selectores id se escriben en Javascript*/
.background-pink
{
	background-color: pink;
}

.article {

}

.article-header 
{
	font-size: Arial,Helvetica,sans-serif;
	color: green;
}

.article_bgblue
{
	background-color: blue;

}

/*Atributo del selector*/
li[data-RobotOwner="Koji Kabuto"]
{
	background-color: olive;
	color: white;
}

li[data-RobotOwner="Sayaka Yumi"]
{
	background-color: brown;
	color:white;
}