html{
	font-size: 100%
}

h1{
	font-size: 1.5rem;
	/*rem ROOT EM. se basa en la raiz del documento. EL HTML*/
	/*em es del contenedor*/

}

h1 a{
	font-size: .8em;
}

span{
	font-size: 1rem;
}

/*Cuando creamos elementos visuales es bueno poner em*/

.square{
	width: 1em;
	height: 1em;
	background-color: peru;
	font-size: 50px;
}

.square::after{
	content: "";
	width: .5em;
	height: .5em;
	background-color: red;
	position: absolute;
	top: .25em;
	left: .25em;

}

.container{
	width: 80%;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: peru;
	height: 100vh;
	width: 25vw;
	/* vw view port with*/
}

li{
	background-color: olive;
	height: 20vh;
	border-bottom: maroon 1px solid;
}